@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafafa;
  --foreground: #171717;
  --accent: #3b82f6;
}

/* hide arrows from input fields */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

input,
textarea,
select {
  @apply border bg-white p-2 placeholder-neutral-300 focus:outline-none focus:ring-2 focus:ring-accent dark:border-neutral-600 dark:bg-neutral-700;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #e5e5e5;
    --accent: #1d4ed8;
  }
}
